<html>
	<head>
		<title>{{ page.meta.metaTitle }}</title>
		{{ 'css/landing.css' | asset_url | stylesheet_tag }}
	</head>
	<body>

		<h1>Yo</h1>
		<p>{{ page.yo }}</p>
		
		{% if debug { %}
		{{ content.localdev }}
		{% endif %}
	</body>
</html>
