<html>
	<head>
		<title>{{ page.meta.title }}</title>
		{{ 'css/landing.css' | asset_url | stylesheet_tag }}
	</head>
	<body>

		<h1>Yo</h1>
		<p>{{ page.yo }}</p>
		<span>again@!</span>
	</body>
</html>
