{% assign credentials = credentials | { username: 'Not Logged In' } %}

<span>WHOAMI: <strong>{{ credentials.username }}</strong></span>

<script>
	console.log('You Are', JSON.parse(`{{ credentials | json }}`))
</script>

<div>
	<a href="/logout">Log Out</a>
</div>
